{erl_opts, [
    debug_info
]}.

{deps, []}.

{provider_hooks, []}.

{relx, [
    {include_erts, true},
    % {system_libs, true}, % include asn1,crypto,...
    % {include_src, false},
    % {generate_start_script, true},
    {extended_start_script, true},

    {release, {ditax_metrics, "0.2.0"}, [ditax_metrics]},

    {dev_mode, true},
    {sys_config, "config/sys.config"}
]}.

{profiles, [
    {lint, [
        {plugins, [
            erlfmt,
            rebar3_lint
        ]}
    ]},
    {local, [
        {relx, [
            {include_erts, false},
            {overlay_vars, "config/local/vars.config"},
            {overlay, [
                {mkdir, "releases/{{release_version}}/config"},
                {template, "config/sys.config", "releases/{{release_version}}/sys.config"},
                {copy, "config/local/sys.config", "releases/{{release_version}}/config/sys.config"}
            ]}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {overlay_vars, "config/prod/vars.config"},
            {overlay, [
                {mkdir, "releases/{{release_version}}/config"},
                {template, "config/sys.config", "releases/{{release_version}}/sys.config"},
                {copy, "config/prod/sys.config", "releases/{{release_version}}/config/sys.config"}
            ]}
        ]}
    ]}
]}.
